.app_dark {
    --main-color: #080808;
    --main-color-body: #272727;
    --inverted-main-color: #fafafa;
    --border: #3b3b3b;
    --blue_500: #4cb5f9;
    --text-color: #b3b3b3;
    --red-300: #129cd3;
    --op-900: #85838354;
    --error: rgb(202, 3, 3);
} 