.app_light {
  --main-color: #fafafa;
  --main-color-body: #fff;
  --inverted-main-color: #080808;
  --border: #dbdbdb;
  --blue_500: #4cb5f9;
  --text-color: #b3b3b3;
  --red-300: #129cd3;
  --op-900: #00000054;
  --error: rgb(202, 3, 3);
}
