.navbar {
    border-bottom: 1px solid var(--border);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.dark {
    filter: invert(100%);
}
.btn {
    cursor: pointer;
    padding: 9px 40px;
}
.link1 {
    color: var(--main-color);
}
.link2 {
    color: var(--red-300);
}