.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  height: 48px;

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.disabled {
    pointer-events: none;
    opacity: .6;
  }

  &.default {
    background: var(--red-300);
    color: #fff;
    border: 1px solid transparent;
  }

  &.outline {
    background: transparent;
    border: 1px solid var(--red-300);
    color: var(--red-300);
  }
  &.max {
    width: 100%;
  }
  &.pad5 {
    padding: 5px;
  }
  &.pad10 {
    padding: 10px;
  }
  &.pad15 {
    padding: 15px;
  }
  &.pad20 {
    padding: 20px;
  }
}
